<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fontawesome-free-5.15.3-web/css/fontawesome.min.css">
</head>
<body>
    <div class="sec-1">
        <div class="image">
            <img class="picture" src="/assets/SelfPortraits/joshua.png" alt="">
        </div>
        <h4>@Official_Jafstar</h4>
    </div>
    <div class="sec-2">
       <p class="links"><a href="/photography-website">PHOTOGRAPHY WEBSITE</a></p>
       <p class="links"><a href="/portfolio">ART STORE</a></p>
       <p class="links"><a href="/artstore">SAFE HAVEN</a></p>
    </div>
    <div class="sec-3">
        <img src="/assets/Jafstar Group of Companies logo white.png" alt="">
        <h4>Powered by Jafstar Group</h4>
    </div>
</body>
</html>
