<div class="menu-bar">
    <i class="fas ham-cancel fa-times-circle"></i>
    <a href="/"><p>Home</p></a>
    <a href="/portfolio"><p>Portfolio</p></a>
    <a href="/artstore"><p>Creative Art</p></a>
    <a href="/artstore"><p>Art Store</p></a>
    <a href="/contact"><p>Contact</p></a>
    <a href="/about"><p>About</p></a>
</div>