<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/payment.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/fontawesome-free-5.15.3-web/css/all.css">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="">
            <div class="sect-1">
                <p>1. Your Email Address</p>
                <input placeholder="Email Address" type="email" class="input mail">
                <cite>Pls, ensure that this email is correct. You will receive your receipt at here.</cite>
            </div>
            <div class="sect-2">
                <p>2. Payment</p>
                <strong>Billing Address</strong>
                <input placeholder="First Name" type="text">
                <input placeholder="Last Name" type="text">
                <input placeholder="Address 1" type="text">
                <input placeholder="Address 2" type="text">
                <select name="" id="">
                    <option selected value="Nigeria">Nigeria</option>
                    <option value="Nigeria">Argentian</option>
                    <option value="Nigeria">Cotonou</option>
                    <option value="Nigeria">Iraq</option>
                    <option value="Nigeria">Afhgan</option>
                    <option value="Nigeria">Korea</option>
                    <option value="Nigeria">U.S.A</option>
                </select>
                <input placeholder="Zip Code" type="number">
                <input placeholder="City" type="text">
                <input placeholder="State" type="text">
                <input placeholder="Phone Number" type="number">
            </div>
            <input type="button" name="" value="Pay with PayPal" id="payment-btn">
        </form>
    </div>
</body>
</html>